body {
    background-color: black;
    margin: 0;
}
h3 {
    color: #F4C505
}
.section {
    width: 1000px;
    height: 300px;
    margin-left: 180px;
    margin-right: auto;
}
input{
    border-radius: 5px;
    background-color: #F4C505;
    font-size: large;
}

 
.segunda-linha {
    display: flex;
    justify-content: space-between;  
    margin-bottom: 40px;
}
.terceira-linha {
    display: flex;
    justify-content: space-between;
}

.cadastro {
    display: flex;
    justify-content: center;
    font-size: 30px;
    
    
}

label{
    color: #F4C505;
}

small {
    color: #F4C505 ;
}